{% extends "base.html" %}  

{%block title%} Activiteiten{% endblock %}

{%block inhoud%}


    <div class="wrapper">
        <h1>Activiteiten</h1>
        <p>Hieronder vind je een overzicht van de activiteiten die je kunt doen tijdens je verblijf bij Bungalowpark Zon en Duinen:</p>
        <ul>
            <li class="activity">
                <h2>Basketbal</h2>
                <div class="image-with-text">
                    <img src="/static/basketbalveld.jpg" alt="Basketbalveld">
                    <p>Kom en speel een heerlijk potje basketbal op ons basketbalveld.</p>
                </div>
            </li>
            <li class="activity">
                <h2>Fitnessruimte</h2>
                <div class="image-with-text">
                    <img src="/static/fitnessruimte.jpg" alt="Fitnessruimte">
                    <p>Blijf tijdens je vakantie fit in onze goed uitgeruste fitnessruimte.</p>
                </div>
            </li>
            <li class="activity">
                <h2>Fietsverhuur</h2>
                <div class="image-with-text">
                    <img src="/static/fietsverhuur.jpg" alt="Fietsverhuur">
                    <p>Huur een fiets en verken de prachtige omgeving van Bungalowpark Zon en Duinen.</p>
                </div>
            </li>
            <li class="activity">
                <h2>Voetbal</h2>
                <div class="image-with-text">
                    <img src="/static/voetbalveld.jpg" alt="Voetbalveld">
                    <p>Speel een potje voetbal op ons voetbalveld.</p>
                </div>
            </li>
            <li class="activity">
                <h2>Wellnesscenter</h2>
                <div class="image-with-text">
                    <img src="/static/wellnesscenter.jpg" alt="Wellnesscenter">
                    <p>Bij ons op het park vind je een volledig ingericht wellnesscentrum. Je kunt hier gebruik maken van verschillende sauna's, stoomcabines en een relaxruimte. Ook bieden wij verschillende massages en andere behandelingen aan.</p>
                </div>
            </li>
        </ul>
    </div>

    {%endblock%}
