{% extends "base.html" %}  

{%block title%} Bungalowpark Zee en Duinen{% endblock %}


{%block inhoud%}
	<section class="hero-image"></section>
	<div class="container">
	<h1>Bungalows</h1>
	<p>Wij verhuren bungalows van verschillende groottes voor de periode van één week. Hieronder vindt u een overzicht van de beschikbare huisjes:</p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Naam</th>
				<th>Type</th>
				<th>Aantal personen</th>
				<th>Weekprijs</th>
				<th>Afbeeldingen</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Bungalow 1</td>
				<td>8 personen</td>
				<td>8</td>
				<td>€1000</td>
				<td class="image-with-text">
					<img src="/static/bungalow1.jpg" alt="Bungalow 1">
					<br>
					<a href="inlog">Reserveren</a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Bungalow 2</td>
				<td>8 personen</td>
				<td>8</td>
				<td>€1000</td>
				<td class="image-with-text">
					<img src="/static/bungalow2.jpg" alt="Bungalow 2">
					<br>
					<a href="inlog">Reserveren</a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Bungalow 3</td>
				<td>6 personen</td>
				<td>6</td>
				<td>€800</td>
				<td class="image-with-text">
					<img src="/static/bungalow3.jpg" alt="Bungalow 3">
					<br>
					<a href="inlog">Reserveren</a>
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Bungalow 4</td>
				<td>6 personen</td>
				<td>6</td>
				<td>€800</td>
				<td class="image-with-text">
					<img src="/static/bungalow4.jpg" alt="Bungalow 4">
					<br>
					<a href="inlog">Reserveren</a>
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Bungalow 5</td>
                <td>4 personen</td>
                <td>4</td>
                <td>€600</td>
                <td class="image-with-text">
                    <img src="/static/bungalow5.jpeg" alt="Bungalow 5">
                    <br>
                    <a href="inlog">Reserveren</a>
                </td>
            <tr>
                <td>6</td>
                <td>Bungalow 6</td>
                <td>4 personen</td>
                <td>4</td>
                <td>€600</td>
                <td class="image-with-text">
                    <img src="/static/bungalow6.jpeg" alt="Bungalow 6">
                    <br>
                    <a href="inlog">Reserveren</a>
                </td>
            </tbody>
        </table>
        <p>Als u een bungalow wilt reserveren, moet u zich eerst <a href="registreer">registreren</a> op onze site. Als u al een account heeft, kunt u <a href="inlog">inloggen</a> om uw reservering te bekijken en eventueel aan te passen.</p>

		{%endblock%}
