{% extends "base.html" %}  

{%block title%} Faciliteiten{% endblock %}

{%block inhoud%}


  <div class="wrapper">
    <h1>Faciliteiten</h1>
    <div class="faciliteiten-container">
        <div class="image-with-text">
            <img src="/static/zwembad.jpg" alt="Zwembad">
            <h2>Zwembad</h2>
            <p>Ons bungalowpark beschikt over een heerlijk zwembad waar u lekker kunt zwemmen en ontspannen. Het zwembad is verwarmd en dus het hele jaar door te gebruiken.</p>
        </div>
        <div class="image-with-text">
            <img src="/static/restaurant.jpg" alt="Restaurant">
            <h2>Restaurant</h2>
            <p>In ons restaurant kunt u genieten van heerlijke maaltijden en drankjes. Het restaurant heeft een uitgebreide kaart met voor ieder wat wils.</p>
        </div>
        <div class="image-with-text">
            <img src="/static/speeltuin.jpg" alt="Speeltuin">
            <h2>Speeltuin</h2>
            <p>Voor de kinderen hebben we een leuke speeltuin waar ze zich kunnen vermaken. Er zijn verschillende speeltoestellen en er is altijd toezicht van een volwassene.</p>
        </div>
        <div class="image-with-text">
            <img src="/static/tennisbaan.jpg" alt="Tennisbaan">
            <h2>Tennisbaan</h2>
            <p>Voor de sportievelingen hebben we een tennisbaan waar u lekker een potje kunt tennissen. Het gebruik van de tennisbaan is gratis voor onze gasten.</p>
        </div>
    </div>
  </div>

{%endblock%}