<!doctype html>
<html lang="nl">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="bungalows">Bungalows</a></li>
      <li><a href="faciliteiten">Faciliteiten</a></li>
      <li><a href="Activiteiten">Activiteiten</a></li>
      <li style="float:right"><a href="inlog">Inloggen</a></li>
    </ul>
  </nav>  
  <head>
    <title>Foutmelding</title>
    <link rel="stylesheet" href="/static/bungalow.css">
  </head>
  <body>
    <div class="error">
      <h1>Foutmelding</h1>
      <p>Het account dat u wil aanmaken bestaat al</p>
    </div>
  </body>
</html>
