{% extends "base.html" %}  

{%block title%} Bungalowpark Zee en Duinen{% endblock %}

{%block inhoud%}


<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Bungalowpark Zee en Duinen</h1>
    <p class="lead">Welkom bij Bungalowpark Zee en Duinen! Wij zijn gespecialiseerd in het verhuren van comfortabele bungalows voor een ontspannen vakantie.</p>
    <a href="registratie" class="btn btn-lg btn-primary mt-4">Registreer</a>
    <p class="lead">Bent u al geregistreerd? Dan kunt u hieronder inloggen om uw reservering te bekijken of aan te passen.</p>
    <a href="inlog" class="btn btn-lg btn-primary mt-4">Log in</a>
  </div>
</section>

{%endblock%}

