{% extends "base.html" %}  

{%block title%} Inloggen{% endblock %}

{%block inhoud%}

    <div class="form-container">
            <h1>Login</h1>
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.email.label }} {{ form.email() }}
                {{ form.password.label }} {{ form.password() }}
                {{ form.submit() }}        
            </form>
        
            <p>Heb je nog geen account? <a href="registratie" class="btn btn-lg btn-primary mt-4">Registreer</a></p>
        </div>
    </div> 

    {%endblock%}

    


