{% extends "base.html" %}  

{%block title%}Registratie - Bungalowpark Zee en Duinen {% endblock %}

{%block inhoud%}
  <div class="form-container">
    <div id="formContent">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email() }}<br>
        {{ form.username.label }} {{ form.username() }}<br>
        {{ form.password.label }} {{ form.password() }}<br>
        {{ form.pass_confirm.label }} {{ form.pass_confirm() }}<br>
        {{ form.submit() }}
    </form>    
    </div>
  </div>

  {%endblock%}
  
